:root {
  --bg: #b7e5cd;
  --header: #ddf4e7;
  --logo: #ea2264;
  --heading: #3a1078;
}
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}
.container {
  background-color: var(--header);
  margin: 20px;
  padding: 10px;
  height: 730px;
}

/* header  */
header {
  padding: 10px 30px;
}
#profile-logo {
  list-style: none;
  color: var(--logo);
  font-family: "Moon Dance", cursive;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none;
  transition: all 200mx ease-in-out;
}
#profile-logo:hover {
  letter-spacing: 0.5rem;
  color: var(--nav-bg);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profile-image {
  border-radius: 50%;

  border: 3px solid #000;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
li a {
  text-decoration: none;
  color: var(--logo);
}

/* main section */
h2 {
  color: var(--heading);
  font-family: "Moon Dance", cursive;
  text-align: center;
  font-size: 45px;
}
